<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    {{!-- DO NOT FORGET to PURGE all unused CSS before deployment --}}
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav class="flex justify-between p-10">
            <div id="logo-icon"></div>
            <div id="form-wrap" class="absolute opacity-0 w-2/3">
                <span id="exit-form">X</span>
                <form id="login-form" class="overflow-hidden fixed justify-center items-center inset-0 duration-500 ease-in">
                    <h4 class="font-mono text-center text-4xl">Login</h4>
                    <label class="text-sm">
                        <input id="login-email" type="text" class="placeholeder-gray-500 py-4" placeholder="janedoe@email.com">
                    </label>
                    <label class="text-sm">
                        <input id="login-pass" type="text" class="placeholeder-gray-500 py-4" placeholder="password">
                    </label>
                    <label>
                        <button id="login" type="submit" class="bg-blue-500 text-white">Login</button>
                    </label>
                </form>
                <button id="open-form">Login</button>
            </div>
            
            {{!-- Optimization :: Partial Implementation --}}
            {{#if logged_in}}
            <ul class="dub-logout list-none overflow-hidden">
                <li class="dub-logout-inner relative transform transition duration-700 ease-in-out">
                    <button class="py-3 px-6 font-mono bg-yellow text-blue-600"></button>
                </li>
            </ul>
            {{/if}}
        </nav>
        <h1 class="font-mono text-6xl text-center uppercase py-16">
            uNaNalyzed 
        </h1>
    </header>

        <main>
            {{{body}}}
        </main>
        
{{#if logged_in}}
<script src="/js/logout.js"></script>
{{/if}}
</body>
</html>