<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    {{!-- DO NOT FORGET to PURGE all unused CSS before deployment --}}
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <header>
        <nav class="flex justify-between p-10">
            {{!-- Optimization :: Partial Implementation --}}
            <ul class="list-none">
                <li>
                    <a href="/">
                        <button class="py-3 px-6 font-mono bg-yellow text-blue-600">Home</button>
                    </a>
                </li>
            {{#unless logged_in}}
                <li> 
                    <!-- Handled by homeRoutes, where the response is to render the login/signup handlebars file to the page -->
                    <a href="/login"><button class="py-3 px-6 font-mono bg-yellow text-blue-600">Login</button></a>
                </li>
            {{/unless}}
                <li>
                    {{!-- Dash Needs Event Handler and Route --}}
                    <a href="/dashboard">
                        <button class="py-3 px-6 font-mono bg-yellow text-blue-600">Dashboard</button>
                    </a>
                </li>
                <li class="dub-logout-inner">
                    <button id="logout-button" class="py-3 px-6 font-mono bg-yellow text-blue-600">Logout</button>
                </li>
            {{else}}
            
                <li>
                    {{login}}
                </li>
                <li>
                    <a href="/signup">
                        <button class="py-3 px-6 font-mono bg-yellow text-blue-600">Sign Up</button>
                    </a>
                </li>
            {{/if}}
            </ul>
        </nav>
        <h1 class="font-mono text-6xl text-center uppercase py-16">
            uNaNalyzed 
        </h1>
    </header>

    <main>
        {{{body}}}
    </main>
        
<script src="/js/logout.js"></script>
{{!-- <script src="/js/home.js"></script> --}}
</body>
</html>