<h1>Rendering Dash</h1>
        {{#if blogposts.length}}
          <small class="text-xsm font-mono">Rendered if blogposts have a length</small>

            {{#each blogposts as |post| }}
            
            {{> dash-posts }}
            
            {{/each}}
         
        {{/if}}