<h1>{{user.name}} Post History</h1>
<a href="dashboard/add">
    <button class="text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-sm">Create a new post</button>
</a>
        {{#if blogposts.length}}
          <small class="text-xsm font-mono">Rendered if blogposts have a length</small>

            {{#each blogposts as |post| }}
            
            {{> dash-posts }}
            
            {{/each}}
         
        {{/if}}