{{!-- Establish by Routehandler w/ Authenticated USER get path  --}}
<div class="flex items-center justify-center">
    <div class="flex justify-between bg-white mx-8 py-4">
        <h3 class="text-4xl font-sans uppercase">Article Title</h3>
        {{!-- LOCATION OF BLOG POST DATA --}}
    </div>
</div>