{{!-- Establish by Routehandler w/ Authenticated USER get path  --}}
<div class="flex items-center justify-center">
    <div class="flex justify-between bg-white mx-8 py-4">
         <h1 class="font-mono text-6xl text-center py-16">
            uNaNalyzed - homepage 
        </h1>
    </div>
</div>

<h5 class="font-sans">each posts as post</h5>
<div class="flex w-3/4">
    {{#each blogposts as |post| }}
        {{> post-row post}}
    {{/each}}
</div>