<div id="form-wrap" class="w-2/3">
    <form id="login-form" class="justify-center items-center">
        <h4 class="font-mono text-center text-4xl">Login: rendered by homeRoutes</h4>
        <label class="text-sm">
            <input id="login-email" type="text" class="placeholeder-gray-500 py-4" placeholder="janedoe@email.com">
        </label>
        <label class="text-sm">
            <input id="login-pass" type="text" class="placeholeder-gray-500 py-4" placeholder="password">
        </label>
        <label>
            <button id="official-login" type="submit" class="bg-blue-500 text-white">Login</button>
        </label>
    </form>
</div>

<script src="/js/login.js"></script>