<!-- Step 5 :: Main.handlebars Login link > homeRoutes /login route > Renders Login Form > Or signup link routes back to homeRoutes /signup > renders Signup Form -->

<div id="form-wrap" class="w-2/3">
    <form id="signup-form" class="justify-center items-center">
        <h4 class="font-mono text-center text-4xl">Sign up to Create and Manage your own posts</h4>
        <label class="text-sm">
            <input id="signup-name" type="text" class="placeholeder-gray-500 py-4" placeholder="Name or Username">
        </label>
        <label class="text-sm">
            <input id="signup-email" type="text" class="placeholeder-gray-500 py-4" placeholder="janedoe@email.com">
        </label>
        <label class="text-sm">Minimum Length: 8</label>
            <input id="signup-pass" type="text" class="placeholeder-gray-500 py-4" placeholder="password">
        
        <label>
            <button id="signup-button" type="submit" class="bg-blue-500 text-white">Sign Up Here</button>
        </label>
    </form>
    
</div>

<script src="/js/signup.js"></script>